USERS_APP_HOST=0.0.0.0
USERS_APP_PORT=8081
USERS_DB_URL=postgresql+asyncpg://users:users@postgres:5432/users_db
USERS_JWT_SECRET=change-me-please
USERS_JWT_ALGORITHM=HS256
USERS_ACCESS_TOKEN_EXPIRE_MINUTES=60
