# EdgeCache URL
BASE_URL=

# Cold cache
COLD_VUS=
COLD_ITERATIONS=

# Warm cache
WARM_VUS=
WARM_RPS=
WARM_DURATION=
WARM_START_TIME=
WARM_POOL_SIZE=

# Hot key
HOT_VUS=
HOT_RPS=
HOT_DURATION=
HOT_FILE_ID=
